#inthezone-product-outro-view .view-bg{background-position:center;background-repeat:no-repeat;background-size:cover;background-image:url(../resources/inthezone/product/outro/bg.jpg);background-color:#333}