#keymoments-product-video-outro-view .view-bg{background-position:center;background-repeat:no-repeat;background-size:cover;background-image:url(../resources/keymoments/product/video-outro/bg.jpg);background-color:#333}