#techray-product-game-view .view-bg{background:#000}#techray-product-game-view .view-footer{overflow:hidden;position:absolute;top:auto;right:auto;bottom:0;left:0;z-index:3;visibility:inherit;-webkit-box-sizing:border-box;box-sizing:border-box}